<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="Tests">
    <test verbose="2" preserve-order="true" name="AQA_Homework">
        <classes>
            <class name="lesson11.contactUsPage.ContactUsPage">
                <methods>
                    <include name="canDisplaySuccessNotification"/>
                    <include name="canDisplayErrorNotification1"/>
                    <include name="canDisplayErrorNotification2"/>
                </methods>
            </class>
            <class name="lesson11.mainPage.HomePage">
                <methods>
                    <include name="canAddDressToCart"/>
                    <include name="canDisplayCorrectUrl"/>
                </methods>
            </class>
        </classes>
    </test>
    <suite-files>
        <suite-file path="regression.xml"/>
    </suite-files>
    <suite-files>
        <suite-file path="smoke.xml"/>
    </suite-files>
</suite>